<%
title "#{@filing.name} #{@filing.qq_yyyy} #{@filing.form_type} Detailed Holdings"
canonical_url thirteen_f_url(@filing)
meta_description "#{@filing.name} holdings disclosure for #{@filing.qq_yyyy}"
%>

<div class="w-full md:max-w-2xl mb-8">
  <div class="bg-white shadow">
    <div class="px-4 py-2">
      <h1 class="leading-8 mb-2" data-cik="<%= @filing.cik %>">
        <%= link_to @filing.name, manager_path(@filing.filer) %>
      </h1>
      <h2 class="text-2xl">
        <%= "#{@filing.qq_yyyy} #{@filing.form_type} Detailed Holdings" %>
      </h2>
    </div>
    <div class="border-t border-gray-200">
      <%= render "description_list", items: thirteen_f_detailed_dl_items(@filing) %>
    </div>
  </div>
</div>

<% if @filing.has_been_restated? %>
  <div class="p-2 mb-8 rounded text-xl bg-red-400 w-max max-w-full">
    This filing has been restated,
    <%= link_to "see here", thirteen_f_detailed_path(@filing.restated_by_filing) %>
    for the amended filing
  </div>
<% end %>

<div class="mb-8">
  <%= label_tag "comparison", "Compare #{@filing.qq_yyyy} to", class: "block font-medium text-gray-700" %>
  <%=
    select_tag "comparison",
      comparison_select_options(@filing),
      include_blank: true,
      onchange: "if (this.value) window.location.href = this.value;",
      class: "border-gray-300 w-48 mt-1"
  %>
</div>

<div class="mb-4 w-max max-w-full">
  <table id="filingDetailed" class="border shadow table-fixed" data-url="<%= thirteen_f_detailed_data_path(external_id: @filing.external_id) %>">
    <thead>
      <tr>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Issuer Name</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Class</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">CUSIP</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Value ($000)</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">%</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Shares</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Principal</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Option Type</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Discretion</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Other Manager</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Sole</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">Shared</th>
        <th class="bg-white text-sm font-medium text-gray-500 uppercase">None</th>
      </tr>
    </thead>
    <tbody class="font-mono">
    </tbody>
  </table>
</div>

<% if @filing.other_managers.present? %>
  <h2 class="font-medium mb-2">
    Other Managers
  </h2>

  <table id="otherManagers">
    <thead>
      <tr>
        <th class="font-medium border-b border-gray-500">Num</th>
        <th class="font-medium border-b border-gray-500 px-4">Name</th>
        <th class="font-medium border-b border-gray-500">File Number</th>
      </tr>
    </thead>
    <tbody>
      <% @filing.other_managers.each do |m| %>
        <tr class="bg-white even:bg-gray-50">
          <td class="py-1 border-b text-center"><%= m["sequence_number"] %></td>
          <td class="px-4 py-1 border-b"><%= m["name"] %></td>
          <td class="py-1 border-b"><%= m["file_number"] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
