<title><%= yield(:title).presence || "SEC 13F Filings" %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_pack_tag 'application' %>
<%= javascript_pack_tag 'application' %>
<%= favicon_pack_tag 'favicon.ico' %>
<%= favicon_pack_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
<%= yield(:head) if content_for?(:head) %>
<meta property="og:type" content="website">
<meta name="format-detection" content="telephone=no">
